<div class="feedback-container">
    <div class="feedback-id">{{ id }}</div>
    <div class="feedback-header">
        <p class="user-name">{{ user_name }}</p>
        <p>{{ feedback_date }}</p>
    </div>
    <div class="user-feedback">
        <div class="liked">
            <p class="label">Понравилось:</p>
            <p class="text-review">{{ liked_text }}</p>
        </div>
        <div class="disliked">
            <p class="label">Не понравилось:</p>
            <p class="text-review">{{ disliked_text }}</p>
        </div>
    </div>
</div>